numpy
pandas
ninja
torchmetrics
opencv-python
pydicom
cython
pycocotools
submitit
torch --index-url https://download.pytorch.org/whl/cu121
torchvision --index-url https://download.pytorch.org/whl/cu121
git+https://github.com/cocodataset/panopticapi.git#egg=panopticapi
scipy
termcolor
addict
yapf
timm